asgiref==3.8.1
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
Django==5.1.1
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Dance==7.1.0
Flask-SQLAlchemy==3.1.1
google-api-core==2.20.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-texttospeech==2.17.2
google-cloud-translate==3.16.0
google-cloud-vision==3.7.4
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpcio==1.66.2
grpcio-status==1.66.2
gTTS==2.5.3
idna==3.10
image==1.5.33
itsdangerous==2.2.0
Jinja2==3.1.4
keyboard==0.13.5
MarkupSafe==2.1.5
oauthlib==3.2.2
pillow==10.4.0
proto-plus==1.24.0
protobuf==5.28.2
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pymongo==4.10.1
PyMySQL==1.1.1
pypiwin32==223
pyttsx3==2.98
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==75.1.0
six==1.16.0
SpeechRecognition==3.10.4
SQLAlchemy==2.0.35
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
URLObject==2.4.3
Werkzeug==3.0.4
